<%- include ("partials/head.ejs") %> 
    <body>
        <%- include ("partials/navbar.ejs") %>
        
        <div class="container">
            <div class="card" id="formulario-pergunta">
                <div class="card-header">
                    <h3>Realizar pergunta</h3>
                </div> 
                <div class="card-body">
                    <form action="/salvarpergunta" method="POST">
                        <label>Título da Pergunta: </label>
                        <input type="text" placeholder="Titulo" name="titulo" class="form-control" required/>
                        <br> <label>Descrição: </label>
                        <textarea placeholder="Descreva sua pergunta" name="descricao" class="form-control"></textarea>
                        <br> <button class="btn btn-primary">Perguntar</button>
                    </form>
                </div>
            </div>
        </div>
        <%- include ("partials/footer.ejs") %> 
